// This file contains reusable classes
// used for major page layout,
// as well as some useful toolbox classes
// 
// "l--" prefix denotes layout classes

.l--outer-wrapper {
  // Used to wrap page-level sections.
  // Limits width and centers elements.

  width: 90%;
  max-width: 60em;

  margin: 0 auto;
}
