// This file contains reusable classes
// used for major page layout,
// as well as some useful simple classes
// for smaller scale layout adjustments

.l--outer-wrapper {
  // Used to wrap page-level sections.
  // Limits width and centers elements.
  background: chartreuse;

  max-width: 60em;
  margin: 0 auto;
}
