---
title: "I'm Ethan Muller."
---

<div class="page page--1">

  <header class="main-header">
  <div class="l__outer-wrapper">
    <a href="/" title="Go to the home page">
      <img class="main-header__logo" src="/img/logo-graphic.svg" alt="Ethan Muller Logo" />
    </a>
  </div>
  </header>

  <div class="l__outer-wrapper">
    <div class="t__long-reading">
      <h1 class="t__highlight">I'm Ethan Muller.</h1>
      <p class="t__highlight">I'm a web developer with a design background. That means I've got a fondness for beautiful code & smart design.</p>
    </div>
  </div>

</div>

<div class="page page--2">

  <div class="page__inner-space">
    <div class="l__outer-wrapper">
      <div class="t__long-reading">
        <p>
        Right now I'm living in Dayton, Ohio.
        I'm a developer at the marvelous
        <a class="t__default-link sparkbox" href="http://seesparkbox.com" title="See what Sparkbox is all about">Sparkbox.</a>
        </p>
      </div>
    </div>
  </div>
</div>
