---
title: "I'm Ethan Muller."
---

<div class="page page_1">

  <header class="main-header">
  <div class="l--outer-wrapper">
    <a href="/" title="Go to the home page">
      <img class="main-header--logo" src="/img/logo-graphic.svg" alt="Ethan Muller Logo" />
    </a>
  </div>
  </header>

  <div class="l--outer-wrapper">
    <div class="t--long-reading">
      <h1 class="t--highlight">I'm Ethan Muller.</h1>
      <p class="t--highlight">I'm a web developer with a design background. That means I've got a fondness for beautiful code & smart design.</p>
    </div>
  </div>

</div>

<div class="page">

  <div class="l--outer-wrapper">
    <div class="t--long-reading">
      <p>
      Yeehaw
      </p>
    </div>
  </div>
</div>
