html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
}

h1, h2, h3, footer {
  text-transform: lowercase;
  font-family: 'Major Mono Display', monospace;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

p {
  margin: 0;
}

a {
  display: inline-block;

  font-weight: 700;
}

small {
  font-size: 1em;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

small {
  display: block;
}

.o-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hi"
    "a"
    "b"
    "c"
    "d"
    "e"
    "bye";

  min-height: 100vh;
}

@media (min-width: 38000px) {
  .o-layout {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "hi hi"
      "a a"
      "b d"
      "c e"
      "bye bye";
  }
}

header {
}

h1, h2 {
  border-bottom: 1px solid;
}

footer {
  border-top: 1px solid;
}

h1, footer {
  padding: 1em 0;

  font-size: 6vw;
}

@media (min-width: 390px) {
  h1, footer {
    font-size: 20px;
  }
}

h2 {
  padding: 1em 0;

  font-size: 20px;

  border-top: 1px solid;

  /* position: sticky; */
  /* top: 0; */
  /* background: white; */
  /* box-shadow: 0 0 1.5em white; */
}

.hi {
  grid-area: hi;
}

.bye {
  grid-area: bye;
}

.a {
  grid-area: a;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding: 3em; */
}

.b {
  grid-area: b;
}

.d {
  grid-area: d;
}

.c {
  grid-area: c;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.e {
  grid-area: e;

  display: flex;
  justify-content: center;
  align-items: center;
}
