@charset "UTF-8";
/* CSS Document */


/*
GLOBAL ELEMENTS (things I didn't make up)
-----------------------------------------
*/

body {
	background-color: #cccccc;
	background-image: url(../images/psd/paper.jpg);
	color: #aaa;
	margin: 0px auto;
}


/*
CUSTOM CLASSES (things I made up)
---------------------------------
*/

.wrapper {
	width: 800px; /* you can use min-width and max-width as well */
	height: 700px; /* you can use min-height and max-height as well */
	background-image:; /* url(../images/jpg/somefile.jpg); */
	background-repeat: no-repeat; /* repeat, no-repeat, x-repeat, y-repeat */
	background-position: 0px 0px; /* first number is x, second number is y; you can use negative numbers */
	background-color: #ddd; /* hexadecimal number; you can use transparent as well */
	padding: 0px; /* 0px = all the way around; 0px 0px = first digit is top and bottom, second digit is the left and right; 0px 0px 0px 0px = T R B L (think hand clock) */
	border: 0px solid #000000; /* border-left: 0px solid #000000; */
	margin: 0px auto; /* 0px = all the way around; 0px 0px = first digit is top and bottom, second digit is the left and right; 0px 0px 0px 0px = T R B L (think hand clock); you can use negative numbers */
	overflow: ; /* hidden, visible, auto = automatic appearing scrollbar */
	clear: both; /* clear: both; (OR) float: left; one or the other only */
}

.header {
	width: 800px;
	height: 100px;
	background-color: #0f0;
	padding: 0px;
	border: 0px solid #000000;
	margin: 0px;
	overflow: ;
	clear: both;
}

.logo_holder {
	width: 100px;
	height: 50px;
	background-color: #fff;
	padding: 0px;
	border: 0px solid #000000;
	margin: 20px 0px 0px 30px;
	overflow: hidden;
	float: left;
}

.nav_search_holder {
	width: 500px;
	height: 80px;
	background-color: #fff;
	padding: 0px;
	border: 0px solid #000000;
	margin: 20px 0px 0px 140px;
	overflow: ;
	float: left;
}

ul.nav {
	list-style-type: none;
	padding: 0px;
	border: 0px;
	margin: 0px;
	clear: both;
}

ul.nav li > a {
	height: 30px;
	background-color: #f00;
	padding: 10px 20px 0px 20px;
	border: 0px;
	margin: 0px 6px 0px 0px;
	float: left;
}

ul.nav li > a:hover {
	background-color: #f00;
}

.content_container {
	width: 800px;
	height: 550px;
	background-color: #ddd;
	padding: 0px;
	border: 0px solid #000000;
	margin: 0px;
	overflow: ;
	clear: both;
}

.left_col {
	width: 600px;
	height: 550px;
	background-color: #f00;
	padding: 0px;
	border: 0px solid #000000;
	margin: 0px;
	overflow: ;
	float: left;
}

.right_col {
	width: 200px;
	height: 550px;
	background-color: #00f;
	background-image: url(../images/png/we_believe_bullet.png);
	padding: 0px;
	border: 0px solid #000000;
	margin: 0px;
	overflow: ;
	float: left;
}

.footer {
	width: 800px;
	height: 50px;
	background-color: #bbb;
	color: #777;
	padding: 0px;
	border: 0px solid #000000;
	margin: 0px;
	overflow: ;
	clear: both;
}