@charset "UTF-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

ul.nav li {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

ul.nav li a:link,
ul.nav li a:active,
ul.nav li a:visited,
ul.nav li a:hover {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

ul.nav li a:hover {
	color: #0f0
}