@charset "UTF-8";
/* CSS Document */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #ffffff;
}

a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #eee;
	text-decoration: none;
}

a:link {
	color: #eee;
}

a:active {
	color: #ddd;
}

a:visited {
	color: #ccc;
}

a:hover {
	color: #fff;
}

#masthead h1 {
	font-size: 12px; /* This doesn't matter too much, as it is hidden. */
	text-indent: -999em; /* Indents actual text out of view. What the user sees is the background of the link (defined in __layout.css__) */
}

ul#navigation li {
	text-align: center;
}

ul#navigation li a {
	font-family: Aria, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

ul#navigation li a:link,
ul#navigation li a:visited {
	color: #c87979;
}

ul#navigation li a:hover,
ul#navigation li a:active {
	color: #e49f9f;
	text-shadow: 0px 1px 3px #000;
	line-height: 1.5;
}

ul#navigation li a.current:link,
ul#navigation li a.current:visited,
ul#navigation li a.current:hover,
ul#navigation li a.current:active {
	color: #fff;
}

#news a {
}

#news h2 {
	text-indent: -999em; /* Indents actual text out of view. What the user sees is the background of the h2 (defined in __layout.css__) */
}

#news .more a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 40px;
	font-weight: bold;
	text-transform: uppercase;
}

#news .more a:link,
#news .more a:visited {
	color: #59503e;
}

#news .more a:hover,
#news .more a:active {
	color: #8f8675;
}

#news ul#newslist li {
	
}

#news ul#newslist li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 68px;
	letter-spacing: 0.04em;
}

#news ul#newslist li a:link,
#news ul#newslist li a:visited {
	color: #f6f4da;
}

#news ul#newslist li a:hover,
#news ul#newslist li a:active {
	color: #000;
}

#time_and_place h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #eddd9d;
}

#time_and_place #schedule {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 30px;
}

#time_and_place #schedule th {
	font-weight: bold;
	color: #e6dfcd;
	letter-spacing: 0.2em;
	text-align: left;
	line-height: 29px
}

#time_and_place #schedule td {
	font-size: 12px;
	letter-spacing: 0.1em;
	color: #9a9589;
	line-height: 29px;
}

#time_and_place #schedule td.event {
	text-align: left;	
}

#time_and_place #schedule td.time {
	text-align: right;
}

#time_and_place #location a:link,
#time_and_place #location a:visited {
	color: #ccd29b;
}

#time_and_place #location a:hover,
#time_and_place #location a:active {
	color: #f5f7e7;
}

#time_and_place #location span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	letter-spacing: .16em;
	line-height: 16px;
	text-align: center;
}

#events h2 {
	text-indent: -999em;
}

#events table tr td a {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	letter-spacing: .14em;
}

#events table tr td a:link,
#events table tr td a:visited {
	color: #ccd29b;
}

#events table tr td a:hover,
#events table tr td a:active {
	color: #eef1d7;
	text-decoration: underline;
}

#events table tr td.time {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	letter-spacing: 0.14em;
	color: #9a9589;
	text-align: right;
}

#events .more a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

#events .more a:link,
#events .more a:visited {
	color: #756b57;
}

#events .more a:hover,
#events .more a:active {
	color: #928c80;
}

#we_believe h2 {
	text-indent: -999em;
}

#we_believe ul li span.passage {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	letter-spacing: 0.05em;
	line-height: 18px;
	color: #0f0e0a;
}

#we_believe ul li span.reference {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: italic;
	letter-spacing: 0.05em;
	line-height: 18px;
	text-align: right;
	color: #968562;
}

#footer h3.logo {
	text-indent: -999em;
}

#footer h3.category {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.05em;
	line-height: 1;
	color: #d3c8c8;
}

#footer address {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	letter-spacing: 0.05em;
	line-height: 24px;
	color: #8d7f7f;
}

#footer ul li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	letter-spacing: 0.05em;
	line-height: 24px;
}

#footer ul li a:link,
#footer ul li a:visited {
	color: #8d7f7f;
}

#footer ul li a:hover,
#footer ul li a:active {
	color: #d1c8c8;
}

#footer #copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	text-align: center;
	color: #433e3e;
}