.c-btn {
  display: block;

  color: inherit;
  color: white;
  font-weight: bold;

  padding: 1rem 1.6rem;

  transform-origin: 0 50%;

  border: 4px solid white;

  &:focus,
  &:hover {
    text-decoration: underline;

    border-color: var(--border-color);
  }

  &--a {
    --border-color: #{$c-a};
    background-color: $c-a;
  }

  &--b {
    --border-color: #{$c-b};
    background-color: $c-b;
  }

  &--c {
    --border-color: #{$c-c};
    background-color: $c-c;
  }

  &--d {
    --border-color: #{$c-d};
    background-color: $c-d;
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
