.c-box {
  background: var(--b);

  font-size: 22px;

  color: var(--a);
  border: 3px solid;

  // margin: 0 10px 50px;
  padding: 26px;

  width: 100%;

  position: relative;

  box-shadow: 6px 10px rgba(0, 139, 187, 0.1);

  @media (min-width: $bp-boop-labels) {
  }
  
  &__heading {
    padding-bottom: 3px;

    text-transform: uppercase;
    font-size: 10px;
    position: absolute;

    color: black;

    right: 100%;
    bottom: 100%;
    transform-origin: bottom right;
    transform: rotate(-90deg);
  }

  > p {
    max-width: 17em;
  }

  &--intro {
    --a: black;
    --b: #fff100;
  }

  &--bio {
    --a: #261FA8;
    --b: #EFFFFC;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    grid-gap: 1em;
    align-content: start;
    justify-content: start;

    > * {
      margin: 0;
    }
  }

  &--hyperlinks {
    --a: black;
    --b: white;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
}
