:root {
  // We use custom properties to store eye location.
  // These values act as defaults, as they're overridden by JS,
  // which can dynimcally change these values based on multiple variables.
  // JS will try and update these values relatively rapidly (every ~100ms or so).
  // Once every ~100ms is pretty quick, but not fast enough for smooth animation.
  // Because of this, we use a transition to blend between these values.
  // The result is a smooth animation, even if the update function takes
  // a while to run. Nice!
  
  // -1 = looking left | 1 = looking right
  --eye-x: -0.7;

  // -1 = looking up | 1 = looking down
  --eye-y: -0.7;
}

.c-eyes {
  width: 100%;
  max-width: 7em;
  height: auto;

  align-self: flex-end;
  justify-self: flex-end;

  #eyeshine_2 { opacity: 0; }
  
  #pupils ellipse {
    // Scale from center
    transform-origin: 50%;
    
    // This lets us scale ellipses from each individual center
    transform-box: fill-box;
    
    transition: transform 0.4s cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  .eyeshine ellipse {
    transform-origin: 50% 0%;
    
    transform: scale(0);
    
    // This lets us scale ellipses from each individual center
    transform-box: fill-box;
    
    transition: all 0.4s cubic-bezier(.19,1,.22,1) 0s;
  }

  #eyes {
    transform: translate(-30px, -30px);
    transform: translate(
      calc(var(--eye-x) * 40px),
      calc(var(--eye-y) * 40px)
    );

    transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  
  &:hover {
    #eyes {
      --eye-x: 0;
      --eye-y: 0;
      
      transition-duration: 0.3s;
    }
    
    #pupils ellipse {
      // grow pupils
      transform: scale(1.1);
    }
    
    #eyeshine_1 {
      animation: eyeshine-1 0.2s steps(1) infinite;
    }
    
    #eyeshine_2 {
      animation: eyeshine-2 0.2s steps(1) infinite;
    }
    
    #eyeshine_1 ellipse {
      fill: #fff;
      transform: scale(1);
    }
    
    #eyeshine_2 ellipse {
      fill: #fff;
      transform: scale(1);
    }
  }
}


@keyframes eyeshine-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes eyeshine-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
