.c-intro-text {
  font-size: 1.125rem;

  background-color: $c-bg;

  &__inner {
    width: calc(100% - #{$s-page-margin * 2});
    margin: 0 auto;
    max-width: 17.75em;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $bp-split) {
    flex: 1;
  }
}

