body {
  padding: 0;

  color: $c-fg;
  background: $c-bg;

  font-family: $primary-font-stack;

  font-size: calc(12px + 0.5vw);

  line-height: 1.4;

  min-height: 100vh;

  max-width: 75em;
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 20px;
  padding: 20px 9px 20px 20px;

  @media (min-width: 800px) {
    grid-template-columns: 4fr 17em;
    grid-template-rows: auto auto;
    grid-gap: 30px;
    align-content: stretch;

    padding: 5rem;

    > div {
      display: flex;
    }

    > :nth-child(1) {
      grid-column: 1;
    }

    > :nth-child(2) {
      grid-column: 1;
    }

    > :nth-child(3) {
      grid-column-end: -1;
      grid-row: 1 / 3;
    }
  }
}
