* {
  box-sizing: border-box;
}

html {
  // This prevents text size change on
  // orientation change
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3 {
  font-size: 1em;
  margin: 0;
}

p {
  font-size: 1em;

  margin: 0 0 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: underline;
  font-weight: bold;

}

strong {
  color: #f00;
}

@keyframes wave {
  $amt: 2px;
  from {
    transform: translateY($amt);
  }
  to {
    transform: translateY(-$amt);
  }
}

em {
  font-style: normal;
  display: inline-block;

  > span {
    animation: wave 1s ease-in-out infinite alternate;
    animation-fill-mode: both;
    display: inline-block;

    $base: 250ms;

    @for $i from 0 through 20 {
      &:nth-child(#{$i}){ animation-delay: $base * $i }
    }
  }
}

h1 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;

  text-align: center;

  padding: 10px;
  margin: 5vmin 0 10vmin;


  @media (min-width: 800px) {
    text-align: left;
    padding-right: 2rem;
    margin: -3rem 0 0 -3rem;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    display: inline-block;
  }
}

li:not(:last-child) {
  margin-bottom: 1.5rem;
}

small {
  display: block;
  font-size: 0.9rem;
}
