html {
  // This prevents text size change on
  // orientation change
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;

  color: $c-fg;

  font-family: $primary-font-stack;

  font-size: 1rem;
  line-height: 1.4;
}

h1,
h2,
h3 {
  font-size: 1em;
  margin: 0;
}

p {
  font-size: 1em;

  margin: 0 0 1em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: underline;
  font-weight: bold;

}

strong {
  color: #f00;
}

@keyframes wave {
  $amt: 2px;
  from {
    transform: translateY($amt);
  }
  to {
    transform: translateY(-$amt);
  }
}

em {
  font-style: normal;

  > span {
    animation: wave 1s ease-in-out infinite alternate;
    display: inline-block;

    $base: 250ms;

    &:nth-child(0){ animation-delay: $base * 0 }
    &:nth-child(1){ animation-delay: $base * 1 }
    &:nth-child(2){ animation-delay: $base * 2 }
    &:nth-child(3){ animation-delay: $base * 3 }
    &:nth-child(4){ animation-delay: $base * 4 }
    &:nth-child(5){ animation-delay: $base * 5 }
  }
}

h1 {
  text-transform: uppercase;
  font-family: Courier, monospace;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 4px;

  text-align: center;

  padding: 10px;
  margin-top: 10vmin;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    padding: 6px 0;
    display: inline-block;
  }
}
