@import 'bourbon';

$light: #efefef;
$dark: #676767;

$c-twitter: rgb(89, 173, 235);
$c-posts: #1c4c55;
$c-doodles: #ff6805;

body {
  font: 1.2em/1.8 Courier, "Courier New", monospace;

  background: $light;
  color: $dark;

  padding: 1.5em;
  margin: 0;

  text-align: center;

  @media (min-width: 40em){
    font-size: 1.5em;
  }
}

.wrappy-mcgee {
  max-width: 22em;
  margin: 0 auto;
}

h1 {
  font-size: 1em;
  font-weight: normal;
  margin: 1em 0;
}

p {
  margin: 1em 0;
}

ul {
  @include clearfix;

  list-style: none;
  margin: 0 -6%;
  padding: 0;

  li {
    display: inline;
  }
}

.btn {
  &.twitter {
    color: darken($c-twitter, 10%);
  }

  &.posts {
    color: $c-posts;
  }

  &.doodles {
    color: $c-doodles;
  }

  display: block;

  text-align: center;

  font-size: 1.1em; 
  padding: 0.5em 1em; 
  margin-bottom: 1em; 

  border-width: 2px;
  border-style:  solid;

  text-decoration: none;

  outline: none;

  @include transform(scale(0.9) translate3d(0,0,0));
  @include transition(transform 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275));

  &:hover,
  &:focus {
    @include transform(scale(1) translate3d(0,0,0));
    color: white;

    &.twitter {
      background-color: $c-twitter;
      border-color: $c-twitter;
    }

    &.posts {
      background-color: $c-posts;
      border-color: $c-posts;
    }

    &.doodles {
      background-color: $c-doodles;
      border-color: $c-doodles;
    }
  }
  &:active {
    @include transition-duration(0);
    @include transform(scale(0.9) translate3d(0,0,0));
  }
}

.logo-container {
  display: inline-block;
  cursor: pointer;
}

.logo {
  @include transition(transform 0.3s cubic-bezier(0.175, 0.885, 0.320, 1.275));

  .logo-container:active & {
    @include transition-duration(0);
    @include transform(scale(0.8) translate3d(0,0,0));
  }
}
